############################
# Dependencies
############################

node_modules/

############################
# Bun
############################

bun.lockb

############################
# Build
############################

dist/
build/
out/

############################
# Cache
############################

.cache/
.parcel-cache/

############################
# Logs
############################

*.log
logs/

############################
# Environment
############################

.env
.env.*

############################
# TypeScript
############################

*.tsbuildinfo

############################
# Coverage
############################

coverage/

############################
# VSCode
############################

.vscode/

############################
# JetBrains
############################

.idea/

############################
# OS
############################

.DS_Store
Thumbs.db